body {
	color: $black;
	font: 300 15px/18px 'Avenir', Arial, Sans-Serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;

	&.underlined {
		border-bottom: 1px $black solid;
	}

	&:hover {
		color: $gold;

		&.underlined {
			border-bottom: 1px $gold solid;
		}
	}

	&.hover--grey:hover {
		&.underlined {
			border-bottom: 1px $grey solid;
		}
	}

	&.hover--blue:hover {
		&.underlined {
			border-bottom: 1px $blue solid;
		}
	}
}

p {
	padding: 0 0 15px 0;

	strong {
		font-weight: bold;
	}
}

em {
	font-style: italic;
}

.container {
	@extend %cf;
	@extend %max-width;
}

.cover {
	background: $white;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $level-6;
}

.no-tablet {
	display: block !important;

	@include media('<tablet') {
		display: none !important;
	}
}

.no-desktop {
	display: none !important;

	@include media('<tablet') {
		display: block !important;
	}
}
