.button {
	@include transition();

	border-bottom: 1px $black solid;
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	margin: 0 0 15px 0;

	&:hover {
		border-bottom: 1px $gold solid;
		color: $gold;
	}
}

.button--blue {
	border-bottom: 1px $blue solid;
	color: $blue;

	&:hover {
		border-bottom: 1px $black solid;
		color: $black;
	}
}

.button--gold {
	border-bottom: 1px $gold solid;
	color: $gold;

	&:hover {
		border-bottom: 1px $black solid;
		color: $black;
	}
}

.button--grey {
	border-bottom: 1px $grey solid;
	color: $grey;

	&:hover {
		border-bottom: 1px $black solid;
		color: $black;
	}
}