.logo-home {
	fill: $white;
	height: 125.83px;
	position: relative;
	top: 30px;
	-ms-transition: fill 500ms;
	-webkit-transition: fill 500ms;
	transition: fill 500ms;
	width: 170px;

	&.logo-home__fixed {
		position: fixed;
		top: 70px;
	}

	&.logo-home__black {
		fill: $black;
	}

	&.logo-home__grey {
		fill: $grey;
	}

	@include media('<tablet') {
		fill: $black !important;
		float: left;
		height: 81.61px;
		padding: 0 0 15px 0;
		position: relative !important;
		top: 0px !important;
		width: 90px;
	}
}

.logo-main {
	fill: $black;
	height: 125.83px;
	position: relative;
	top: 0;
	-ms-transition: fill 500ms;
	-webkit-transition: fill 500ms;
	transition: fill 500ms;
	width: 170px;

	@include media('<tablet') {
		float: left;
		height: 81.61px;
		top: 0px !important;
		width: 90px;
	}
}

.logo--small {
	@include transition;

	left: 1px;
	height: 18.59px;
	opacity: 0;
	position: relative;
	top: -2px;
	width: 36px;

	&:hover {
		fill: $gold;
	}

	&.logo--active {
		opacity: 1;
	}

	@include media('<tablet') {
		display: none;
	}
}

.nav {
	@include transition();

	background: $white;
	display: block;
	left: 0;
	position: fixed;
	top: -60px;
	width: 100%;
	z-index: $level-5;

	@include media('>tablet') {

		&.nav--active {
			box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
			top: 0;
		}

		&.nav--fixed {
			box-shadow: 2px 2px 2px rgba(0,0,0,0.1) !important;
			top: 0 !important;
		}
	}


	@include media('<tablet') {
		left: 0;
		height: 100%;
		top: -100% !important;
		width: 100%;

		&.nav--mobile {
			top: 0 !important;
		}
	}
}

.menu-wrapper {
	@extend %max-width;
}

.menu {
	@extend %cf;

	float: left;
	padding: 0 0 15px 0;
}

.menu__item {
	@include font-size(15);
 	@include line-height(15);

 	float: left;
 	padding: 0 20px 0 0;

 	.active {
 		border-bottom: 2px $gold solid;
 	}

 	@include media('<desktop') {
 		padding: 0 15px 0 0
 	}

 	@include media('<tablet') { 
 		@include font-size(20);
 		@include line-height(60);

 		text-align: center;
 		width: 100%;
 	}

}

.close {
	display: none;

	@include media('<tablet') { 
		@include font-size(30);
 		@include line-height(30);
 		@include rotate(45deg);

		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: $level-6;
	}

}

.burger {
	cursor: pointer;
	display: block;
	float: right;
	font-size: 27px;
	position: relative;
	top: 10px;

	@include media('>tablet') {
		display: none;
	}
}
