.testimonial__byline {
	float: left;

	strong {
		font-weight: bold;
	}
}

.testimonial__controls {
	cursor: pointer;
	float: right;

	@include media('<tablet') {
		float: left;
		margin: 10px 0 0 0;
		width: 100%;
	}
}

.testimonial__footer {
	bottom: 0;
	border-top: 1px $black solid;
	padding-top: 10px;
	position: relative;
}

.testimonial__quote {
	@include transition(500ms);

	position: absolute;
	opacity: 0;

	&.testimonial__quote--active {
		opacity: 1;
	}

	h3 {
		position: relative;
		padding: 30px 0 45px 27px;
	}

	.open-quote {
		display: inline-block;
		font-size: 1.5em;
		margin-left: -25px;
		top: 6px;
		position: relative;
	}

	.close-quote {
		display: inline-block;
		font-size: 1.5em;
		position: relative;
		top: 13px;
	}

}