.testimonial__byline {
	float: left;

	strong {
		font-weight: bold;
	}
}

.testimonial__controls {
	cursor: pointer;
	float: right;

	@include media('<tablet') {
		float: left;
		margin: 80px 0 0 0;
		width: 100%;
	}
}

.testimonial__footer {
	bottom: 0;
	border-top: 1px $black solid;
	padding-top: 10px;
	position: relative;
}

.testimonial__quote {
	@include transition(500ms);
	@include transform();

	padding: 0 10.145%;
	position: absolute;
	top: 50%;
	opacity: 0;

	&.testimonial__quote--active {
		opacity: 1;
	}

	h3 {
		position: relative;
		padding: 0 0 20px 27px;
	}

	.open-quote {
		display: inline-block;
		font-size: 1.5em;
		margin-left: -25px;
		top: 6px;
		position: relative;

		@include media('<tablet') {
			margin-left: -16px;
		}
	}

	.close-quote {
		display: inline-block;
		font-size: 1.5em;
		position: relative;
		top: 13px;
	}

	@include media('<tablet') {
		padding: 0 5.0725%; 
	}

}

.testimonial__byline {
	@include transition(500ms);

	position: absolute;
	opacity: 0;

	p{
		padding: 0;
	}

	&.testimonial__byline--active {
		opacity: 1;
	}

	@include media('<tablet') {
		height: 50px;
	}

}